.features{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    justify-content: center;
    gap: 2rem;
}

.second-column .feature{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}


.first-column h1{
margin-bottom: 2rem;
}

@media screen and (max-width: 756px) {
  
.second-column .feature{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
}

}

